:root {
    --main-gray: #697789;
    --dark-blue: #1b324b;
    --main-blue: #2669e6;
}
.modal-overlay{
    display: none;
    height: 100vh;
    background-color: rgb(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}
.modal{
    margin: auto;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 1;
    padding: 0px 32px;
    box-sizing: border-box;
    padding-top: 20px;  
    position: relative;
    padding-bottom: 20px;
    width: 50%;
    height: auto;
    margin-top: auto;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.modal-header{
    font-size: 2em;
}
.modal-body{
    margin-top: 20px;
}
::placeholder {
    color: var(--main-gray);
    font-style: italic;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("../img/calendar.svg") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}
.fa-times:before{
    content: "×";
    font-size: 3em;
    font-weight: lighter;
}
@font-face {
    font-family:"TTHoves-Medium";
    src: url("../fonts/TTHoves-Medium.ttf") format("truetype");
}
@font-face {
    font-family:"TTHoves-Light";
    src: url("../fonts/TTHoves-Light.ttf") format("truetype");
}
@font-face {
    font-family:"TTHoves-Regular";
    src: url("../fonts/TTHoves-Regular.ttf") format("truetype");
}
@font-face {
    font-family:"TTHoves-ExtraBold";
    src: url("../fonts/TTHoves-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family:"TTHoves-Bold";
    src: url("../fonts/TTHoves-Bold.ttf") format("truetype");
}
@font-face {
    font-family:"TTHoves-DemiBold";
    src: url("../fonts/TTHoves-DemiBold.ttf") format("truetype");
}
/* common properties started */

.active-nav {
    color: var(--main-blue) !important;
}
header{
    background: url('../img/bg-header1.png') repeat-x bottom left;
}
body{
    font-family: 'TTHoves-Regular';
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: auto;
}
input, textarea{
    padding-left: 10px;
    box-sizing: border-box;
    outline-color: var(--main-gray);
}
.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.active-nav {
    color: #2669e6;
}
.divider {
    height: 1px;
    background-color: lightgray;
    opacity: .3;
}
textarea { 
    resize: vertical; 
}
/* common properties ended */

/* header section started */
header {
    height: 100vh;
    background-color: #EEF4FF;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pc-nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 14px 0px;
    font-family: "TTHoves-Medium";
}
.small-nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
    padding: 14px 0px;
    font-family: "TTHoves-Medium";
}

.small-nav .show-menu {
    font-size: 2em;
    float: right;
    color: var(--main-gray);
}

.small-nav .show-menu:hover {
    transition: .5s ease;
    color: var(--main-blue);
    cursor: pointer;
}

.small-nav-menu {
    text-align: center;
    overflow: scroll;
    background-color: white;
    position: absolute;
    left: -100%;
    top: 0;
    transition: .5s ease;
    height: 100vh;
}


.small-nav-menu i {
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: var(--main-gray);
}

.small-nav .right-nav li {
    display: block;
    padding: 0;
}

.small-nav .right-nav ul a {
    padding: 30px 0px;
    display: block;
}

.small-nav .right-nav a:hover {
    background-color: honeydew;
    transition: .5s ease;
    cursor: pointer;
}

nav.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.12);
}

.left-nav {
    display: inline-block;
}

.right-nav {
    float: right;
    margin-top: 8px;
}

.right-nav ul {
    margin: 0;
    padding: 0;
}

.pc-nav .right-nav ul{
    margin-top: 6px;
}

.right-nav ul li {
    display: inline-block;
    padding: 0px 10px;
}

.right-nav ul li a {
    text-decoration: none;
    font-size: 16px;
    vertical-align: middle;
    color: #1b324b;
}

.right-nav ul li a:hover {
    text-decoration: none;
    color: var(--main-blue);
}

.apply-button, #watch-video {
    padding: 10px 20px;
    height: 36px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 32px 0 rgba(26, 89, 206, 0.32);
    background-image: linear-gradient(to right, #3d7aea, #1857cd);
    outline: none;
    border: none;
    font-family: "TTHoves-Medium";
}
#watch-video:hover{
    background-color: rgba(26, 89, 207, 0.48);
    box-shadow: 0 4px 32px 0 rgba(26, 89, 207, 0.48);
    transition: .5s ease;
    cursor: pointer;
}
.apply-button:hover{
    background-color: rgba(26, 89, 207, 0.48);
    box-shadow: 0 4px 32px 0 rgba(26, 89, 207, 0.48);
    transition: .5s ease;
    cursor: pointer;
}

.greeting-div {
    display: flex;
    flex-wrap: wrap;
    padding: 140px 0;
    justify-content: center;
    width: 85%;
    margin: auto;
}
.video-popup{
    width: 70%;
    margin: auto;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
    height: 80vh;
    margin-top: 10vh;
    padding-top:30vh;
    box-sizing: border-box;
    position: relative;
}
.video-popup iframe{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.greeting-div .left-side-greeting {
    /* margin-right: 10%; */
    width: 60%;
    margin: auto;
    text-align: center;
}

/* .greeting-div .right-side-greeting {
    width: 40%;
} */

.greeting-div .left-side-greeting h1 {
    color: var(--dark-blue);
    font-family: 'TTHoves-ExtraBold';
    font-size: 48px;
    line-height: 1.17;
}

.greeting-div .left-side-greeting p {
    color: var(--main-gray);
    font-size: 18px;
    line-height: 1.56;
    font-family: "TTHoves-Regular";
}

.left-side-greeting #watch-video {
    width: 164px;
    height: 48px;
}
.left-side-greeting #watch-video i{
    font-size: 24px;
    vertical-align: middle;
    margin-right: 5px;
}
.greeting-buttons-container{
    display: flex;
    justify-content: center;
}
.greeting-buttons-container .apply-button{
    margin: 0px 3%;
    height: 48px;
    width: 164px;
}


/* .right-side-greeting img {
    position: absolute;
}
.right-side-greeting {
    position: relative;
}
.greeting-div .right-side-greeting iframe {
    width: 100%;
    height: 332px;
    margin-top: 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

/* .green-circle {
    width: 76px;
    height: auto;
    left: -25px;
    animation: rotate-bl 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation-iteration-count: infinite;
} */

/* .orange-circle {
    width: 140px;
    left: 40%;
    top: -40px;
    animation-name: sunrise;
    animation-duration: 3s;
    animation-iteration-count: infinite;
} */

/* .blue-parall {
    width: 32px;
    right: 0;
    top: -20px;
    animation-name: spin-vertical;
    animation-duration: 3s;
    animation-iteration-count: infinite;
} */

/* .purple-circle {
    width: 15px;
    right: -30px;
    top: 5px;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
} */

/* .green-square {
    width: 20px;
    right: 0;
    top: 15px;
} */

/* .lines {
    width: 480px;
    bottom: -35px;
    left: -35px;
    animation-name: rtl;
    animation-duration: 1s;
    animation-iteration-count: infinite;
} */

/* .purple-square {
    width: 140px;
    right: -20px;
    top: 70px;
    animation: wobble-hor-bottom 2s both;
    animation-iteration-count: infinite;
} */

/* .pink-circle {
    width: 210px;
    bottom: -50px;
    left: -50px;
    animation: jello-horizontal 0.9s both;
    animation-iteration-count: infinite;
} */

/* .line {
    width: 95px;
    bottom: -30px;
    right: -40px;
} */

/* .comment {
    width: 75px;
    right: -50px;
    bottom: -50px;
    animation-name: spin-horizontal;
    animation-duration: 2s;
    animation-iteration-count: infinite;
} */

/* .small-green-circle {
    width: 28px;
    right: -60px;
    bottom: -15px;
} */

/* animations for video background started */
/* @keyframes blink{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */

/* @keyframes rtl{
    0% {
        left: -35px;
    }
    50% {
        left: -70px;
    }
    100% {
        left: -35px;
    }
} */

/* @keyframes sunrise{
    0% {
        top: -40px;
    }
    50% {
        top: -100px;
    }
    100% {
        top: -40px;
    }
} */

/* @keyframes spin-horizontal{
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
} */

/* @keyframes spin-vertical{
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
} */

/* @keyframes rotate-bl{
    0% {
        transform: rotate(0);
        transform-origin: bottom left;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: bottom left;
    }
  } */

/* @keyframes jello-horizontal{
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
} */

/* @keyframes wobble-hor-bottom{
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
} */

/* animations for video background ended */
/* header section ended */

/* about section started */
#about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 0px;
    width: 85%;
    margin: auto;
}
.group-mobile{
    display: none;
}
.group-mobile{
    display: none;
}

#about-section .left-side-about {
    width: auto;
    margin: 0px 50px;
}

#about-section .right-side-about {
    width: 40%;
}

#about-section .right-side-about span {
    font-size: 14px;
    font-family: "TTHoves-DemiBold";
    color: #1b324b;
}

#about-section .right-side-about h2 {
    color: var(--dark-blue);
    margin: 16px 0px;
    font-size: 34px;
    font-family: "TTHoves-Bold";
}

#about-section .right-side-about p {
    color: var(--main-gray);
    line-height: 1.5;
}
#about-section .right-side-about li {
    line-height: 1.5;
    padding: 5px 0px;
    list-style-type: none;
    position: relative;
    text-align: left;
    color: var(--main-gray);
    font-size: 16px;
    line-height: 1.56;
}

#about-section .right-side-about ul {
    padding: 0px;
    margin: 0px;
}

#about-section .right-side-about li:before {
    content: "-";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: -13px;
}

/* about section ended */

/* terms section started */

#terms-section {
    padding: 80px 0px;
    width: 85%;
    margin: auto;
}

.terms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
}

.term {
    margin: 20px;
    width: 29%;
}

.term:nth-child(2) h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.term:nth-child(2) p {
    margin-bottom: 17px;
}

.term p {
    line-height: 1.5;
    color: var(--main-gray);
}

.term-icon-container {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.term-icon-container img:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 10px;
}

.term-icon-container:hover img:nth-child(2) {
    top: 4px;
    left: 4px;
    transition: .5s ease;
    cursor: pointer;
}

#terms-section h2 {
    color: var(--dark-blue);
    text-align: center;
    font-size: 34px;
    margin-top: 0;
    font-family: "TTHoves-Bold";
}

.term h3 {
    color: var(--dark-blue);
    font-size: 20px;
    line-height: 1.6;
    font-family: "TTHoves-DemiBold";
}

.register-term-overlay,
.apply-term-overlay,
.result-term-overlay,
.video-overlay {
    display: none;
    height: 100vh;
    background-color: rgb(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.register-term-popup,
.apply-term-popup,
.result-term-popup {
    margin: auto;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 1;
    padding: 0px 32px;
    box-sizing: border-box;
    padding-top: 20px;  
    position: relative;
    padding-bottom: 20px;
    width: 50%;
    height: auto;
    margin-top: auto;
    top: 50%;
    transform: translateY(-50%);
}

.term-popup-header{
    position: absolute;
    right: 10px;
    top: -5px;
}
.term-popup-header i{
    cursor: pointer;
    position: absolute;
    right: 0px;
    color: var(--main-gray);
}
.result-term-overlay p{
    color: var(--main-gray);
}

/* terms section started */

/* attendants section started */
#attendants-section {
    padding: 80px 0px;
}

#attendants-section h2 {
    color: var(--dark-blue);
    text-align: center;
    font-size: 34px;
    margin-top: 0;
    font-family: "TTHoves-Bold";
}
.attendants-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.card{
    width: 20%;
    border-radius: 5px;
    border: solid 1px #dfdfdf;
    margin: 16px;
    position: relative;
}
.card .img-container{
    background-color: #e2ecff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.replace-img{
    font-family: "TTHoves-Bold";
    font-size: 20px;
    text-align: center;
    color: #1b324b;
    width: 70%;
    margin: auto;
    height: auto;
}
#show-more-card .replace-img{
    display: none;
}
.replace-img p{
    margin: 0;
}
.replace-img i{
    margin-bottom: 10px;
}
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0, .1);
    text-align: center;
    font-size: 28px;
}
.card-overlay p {
    padding-top: 25%;
}
.card img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.card-body {
    padding: 12px 12px;
}
.attendant-highschool {
    font-size: 14px;
    color: var(--main-gray);
    font-family: "TTHoves-Light";
}
.attendant-name {
    /* text-transform: uppercase; */
    margin: 0px;
    font-size: 16px;
    color: #1b324b;
    margin: 5px 0px;
    font-family: "TTHoves-Medium";
}
.attendant-email {
    text-decoration: none;
    color: #2669e6;
    font-size: 12px;
    line-height: 1.33;
}
.hidden-layout {
    display: none;
}

.card:hover {
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.2);
    transition: .5s ease;
    cursor: pointer;
}

/* attendants section started */

/* most asked questions section started */
#most-asked-section {
    padding: 80px 0px;
}

#most-asked-section h2 {
    width: 85%;
    margin: auto;
    margin-bottom: 28px;
    color: var(--dark-blue);
    text-align: center;
    font-size: 34px;
    font-family: "TTHoves-Bold";
}

.accordion-container {
    width: 85%;
    margin: auto;
}

.accordion{
    font-family: "TTHoves-Medium";
    font-size: 18px;
    line-height: 1.78;
    border: none;
    color: #1b324b;
    cursor: pointer;
    outline: none;
    width: 100%;
    text-align: left;
    border-top: 1px solid #dfdfdf;
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 35px;
}

.sub-menu:last-child {
    border-bottom: 1px solid #dfdfdf;
}

.sub-menu {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: "TTHoves-Regular";
}

.sub-menu p {
    border-left: 2px solid #2669e6;
    padding-left: 15px;
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.71;
    color: #697789;
}

.accordion:after {
    position: absolute;
    right: 15px;
    font-family: 'Material Icons';
    content: 'keyboard_arrow_down';
    color: #2669e6;
    margin-left: 5px;
    font-size: 24px;
}

.active:after {
    font-family: 'Material Icons';
    content: 'keyboard_arrow_up';
    font-size: 24px;
}

/* most asked questions section ended */

/* contact section started */
#contact-section {
    background-color: #eef4ff;
    padding: 80px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-left-side,
.contact-right-side {
    width: calc(85% / 2);
}

#contact-section span {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
    color: var(--dark-blue);
    font-family: "TTHoves-DemiBold";
}

.contact-left-side h2 {
    color: var(--dark-blue);
    font-size: 34px;
    font-family: "TTHoves-Bold";
}

.contact-left-side p {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-gray);
    width: 70%;
}

.contact-right-side input,
textarea {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #dfdfdf;
    margin: 15px 0px;
}

.contact-right-side input {
    height: 40px;
}

.contact-right-side label {
    font-size: 18px;
    line-height: 1.56;
    color: #697789;
}

.contact-right-side .apply-button {
    width: 100%;
    height: 48px;
}

.messaging-container div{
    width: 48%;
    display: inline-block;
}
.messaging-email-container{
    float: right;
}

/* contact section ended */

/* footer started */
footer {
    padding: 20px 0px;
    width: 85%;
    margin: auto;
}

.footer-left-side span {
    font-size: 12px;
    line-height: 1.5;
    color: var(--dark-blue);
    display: inline-block;
    padding-top: 10px;
}

.footer-left-side {
    display: inline-block;
}

.footer-right-side {
    float: right;
}

.footer-right-side ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-right-side li {
    display: inline-block;
}

.footer-right-side i {
    text-align: center;
    line-height: 32px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #6a6a6a;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0px 7px;
    cursor: pointer;
}
.footer-right-side a{
    color: black;
}
.footer-right-side a:visited{
    color: black;
}

.fa-facebook-f:hover {
    background-color: #3a5898;
    transition: .5s ease;
    color: white;
}

.fa-instagram:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;
    transition: .5s ease;
}

.fa-linkedin-in:hover {
    background-color: #0073B0;
    transition: .5s ease;
    color: white;
}
.fa-youtube:hover {
    background-color: #FF0000;
    transition: .5s ease;
    color: white;
}
footer a{
    text-decoration: none;
}
footer a:visited{
    color: #2669e6;
}
/* footer started */

/* modal components properties */
.contact-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .6);
    z-index: 3;
    display: none;
}

.contact-popup {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    width:50%;
    padding: 16px 32px;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 1;
}

.popup-header {
    padding-bottom: 20px;
}

.popup-left-header p{
    font-size: 24px;
    line-height: 2;
    margin: 0;
}
.video-overlay-header{
    padding: 0px 20px;
}
.video-overlay-header i{
    color: white;
    float: right;
    cursor: pointer;
}

.popup-right-header i {
    cursor: pointer;
    color: var(--main-gray);
}

.popup-left-header {
    display: inline-block;
}

.popup-right-header {
    position: absolute;
    right: 10px;
    top: -5px;
}

.popup-body input,
.popup-body .apply-button {
    width: 100%;
    height: 5vh;
    margin: auto;
}

.popup-body .smth-else-textarea {
    width: 100%;
    height: 70px;
}

.popup-body .apply-button {
    margin-top: 10px;
}

.popup-body input {
    border-radius: 5px;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
    margin: 10px 0px;
}

.popup-body label {
    font-size: 14px;
    line-height: 1.56;
    color: #697789;
}

.customized-list {
    margin: 0px;
    padding: 0px;
}

.customized-list li {
    text-align: left;
    list-style-type: none;
    line-height: 18px;
    position: relative;
    text-indent: 5px;
    padding: 5px 0px;
    color: var(--main-gray);
}

.customized-list li:before {
    content: "-";
    position: absolute;
    top: 5px;
    left: -10px;
}

.term-popup-body p {
    text-align: left;
} 

/* responsive design  */
@media screen and (max-width: 1060px) {
    .modal{
        width: 80%;
    }
    .small-nav-menu{
        height: 100%;
        position: fixed;
        overflow: hidden;
    }
    a[data-scroll="header"]{
        margin-top: 32px;
    }
    .small-nav-menu li a{
        font-size: 20px;
    }
    .small-nav-menu .apply-button{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 15px;
        width: 95%;
        height: 48px;
        font-size: 20px;
    }
    .contact-button-container{
        margin-top: auto;
    }
    .small-nav .right-nav ul a{
        padding: 15px 0px;
    }

    .contact-popup{
        width: 85%;
    }
    .greeting-div {
        text-align: center;
    }

    .greeting-div .left-side-greeting,
    .greeting-div .right-side-greeting {
        width: 100%;
        margin: 0;
    }
    .video-popup{
        position: relative;
        padding-top: 56.25%;
        width: 85%;
        height: auto;
        top: 50%;
        margin-top: -28.1%;
    }
    .video-popup iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    .right-side-greeting {
        position: static;
    }
    .right-side-greeting img {
        display: none;
    }
    .greeting-div .right-side-greeting iframe {
        position: static;
    }
    .pc-nav {
        display: none;
    }
    .small-nav {
        display: block;
    }
    .small-nav-menu {
        width: 100%;
    }
    #about-section .right-side-about {
        width: 100%;
        margin: auto;
    }
    #about-section .left-side-about {
        width: 50%;
        margin: auto;
    }
    #about-section {
        text-align: center;
    }
    .group-mobile{
        display: block;
    }
    .group-pc{
        display: none;
    }
    .left-side-about img {
        width: 90%;
        margin: auto;
        margin-bottom: 16px;
    }
    .term {
        width: 100%;
    }
    .register-term-popup,
    .apply-term-popup,
    .result-term-popup {
        overflow: scroll;
        width: 85%;
    }
    .popup-body input{
        margin: 5px 0px;
    }
    .card {
        margin: 16px 16px;
        width: 40%;
    }
    .accordion {
        background-color: white;
    }
    .contact-left-side,
    .contact-right-side {
        padding: 20px 0px;
        width: 85%;
        margin: auto;
        text-align: center;
    }
    .contact-left-side p{
        width: 100%;
    }
    .messaging-container div {
        width: 100%;
        display: block;
    }
    footer {
        text-align: center;
    }
    .footer-left-side {
        margin-bottom: 20px;
    }
    .footer-right-side {
        float: none;
    }
}

@media screen and (max-width: 590px) {
    header{
        height: auto;
    }
    .small-nav-menu {
        width: 100%;
    }
    .greeting-buttons-container{
        flex-direction: column;
        align-items: center;
    }
    .greeting-buttons-container button{
        margin: 4% 4%;
    }
    .greeting-div .left-side-greeting h1{
        font-size: 35px;
    }
    #about-section .right-side-about {
        width: 85%;
    }
    #about-section .left-side-about {
        width: 85%;
    }
    .card {
        width: 85%;
        margin: 16px auto;
    }
    .register-term-popup,
    .apply-term-popup,
    .result-term-popup {
        overflow: scroll;
        height: 80vh;
    }
}


